:root {
  --secondary-color:#ffa000;
  
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Sofia Sans Condensed',
  sans-serif;
  font-family: 'Source Sans Pro',
  sans-serif;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
 
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
