.menuButton:hover{
    border: 1px solid white;
    background-color: var(--secondary-color);
    color: black;

}



.icon{
    color :white

}

/* @keyframes react-reveal-373047938003920-2{
    0% {
        
        left: 0px;
        top: 0px;
    }

    25% {
        
        left: 200px;
        top: 0px;
    }

} */
.drawer_icon:hover{
    color: black;
    background-color: #ef5350;
}
